/* @import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap'); */
@import "tailwindcss";

/* Optional: custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.4);
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.7);
}
:root {
  --font-reem: "Reem Kufi", sans-serif;
  --font-jetbrains: "JetBrains Mono", sans-serif;
}

/* Force the whole site to use Reem Kufi (overrides other rules) */
body {
  font-family: var(--font-jetbrains) !important;
}
.hero-reem {
  font-family: var(--font-reem) !important;
}
/* Optional smooth scroll */
html {
  scroll-behavior: smooth;
}
